@import "./variables.scss";

body {
  background-color: var(--bkg-color);
  color: var(--text-color);
}

.yms__button {
  font-size: 16pt;
  font-weight: bold;
  border: solid var(--text-color);
  padding: 6px;
  transition: background-color 0.4s, color 0.4s;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    background-color: var(--text-color);
    color: var(--bkg-color);
    &a:visited {
      color: var(--bkg-color);
    }
  }
}

a:visited {
  color: var(--text-color);
}